{% extends 'layout.html' %}

{% block title %}
    Tweet
{% endblock title %}

{% block content %}

    <h2 class="mt-4">{% if form.instance.pk  %}
        Edit Tweet 
        {% else %}
        Create tweet
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="form mt-3">
            {% csrf_token %}
            {{form}}
            <button class="btn btn-warning">Submit</button>
        </form>
        <a href="{% url 'tweet_list'  %}">Back to tweet list</a>
    </h2>
{% endblock %}

